<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- including bootstrap css link from partial folder -->
    <%- include("./partials/head") %>
    <title>Lazi Blog</title>
  </head>
  <style>
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      
      }
      body{
        background-color: #000a1a;
        font-family: "Montserrat", sans-serif;
    }
    </style>
  <body>
    <%- include ("./partials/nav") %>

      <div class="container mt-5">
        <header class="text-center mb-4">
          <h1 class="text-center my-5" style="font-size: 3rem; color: #cfcfcf;">
            Welcome to <span style="color: #fff; font-weight: bold;">Blog</span><span style="color: #ff9900; font-weight: bold;">Hub</span>
          </h1>
          
          <p class="text-center mt-4 lead" style="font-size: 1.25rem; color: #cfcfcf;">
            Welcome to <span style="color: #ffffff; font-weight: bold;">Blog</span><span style="color: #ff9900; font-weight: bold;">Hub</span>, your ultimate destination for captivating stories and thought-provoking articles. Whether you're a passionate writer or an avid reader, Blog Hub offers a platform where creativity meets community. Dive into a world of diverse perspectives, share your unique voice, and connect with a vibrant network of bloggers. Join us today and be part of a journey where every word matters.
          </p>
        </header>
        <div class="row">


         
    <% blogs.forEach(blog => { %>


      <div class="col-md-4 mb-4 ">
        <div class="card h-100" style="transition: transform 0.3s, box-shadow 0.3s; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <div class="card-img-top-container" style="overflow: hidden; height: 150px;">
              <img src="<%= blog.coverImageUrl %>" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;" alt="Blog image">
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text text-muted" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; height: calc(1.2em * 2); line-height: 1.2em; line-clamp: 2;">
                <%= blog.content %>
            </p>
          
            <a href="/blog/view/<%= blog._id %>" class="btn btn-primary btn-sm">View Blog</a>
        </div>
        
          <div class="card-footer text-muted">
              Posted by <%= blog.author.fullName %> on <%= blog.createdAt.toJSON() %>
          </div>
      </div>
      </div>

 

   <% }) %>         
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </body>
    <%-
    include("./partials/footer") %>
  </body>
</html>
